@font-face {
  font-family: "Hall Fetica";
    src: 
      url(../Z_RESOURCE/fonts/Hall Fetica.ttf),
      url(../Z_RESOURCE/fonts/voez-webfont.woff),
      url(../Z_RESOURCE/fonts/voez-webfont.woff2) ,
      url(../Z_RESOURCE/fonts/voez-webfont.eot);
             
  font-family: "Overdose Sunrise";
    src: 
      local('Overdose Sunrise'),
      url(../Z_RESOURCE/fonts/overdosesunrise.ttf),
      url(../Z_RESOURCE/fonts/Overdose Sunrise.otf);

  font-family: "Hall Fetica+";
    src: 
      url(../Z_RESOURCE/fonts/JC-HF+.TTF);

  font-family: "Mario";
    src:
      url(../Z_RESOURCE/fonts/New Super Mario Font U.ttf);
          }

body{
	font-family: 'Hall Fetica+';
}

a{
	color: black;
}


.rhombus{
	-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	text-align:center; 

}



#loading{
          z-index: 1;
          padding: 10px 10px 5px;
          background: rgb(0, 0, 0);
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          position: fixed;
          text-align: center;
          box-shadow: 2px 2px 10px;
          border-radius: 1px;   
          font-family: 'Mario';          
}

#header{
  background-color: rgba(255,255,255,0.3);
  position: absolute;
  top: 0; 
  height: 10%;
  width: 99.5%;
  display: none;
}

#title{
     margin-top: 7px;
     color: rgb(123,241,158);
     text-shadow: rgb(111,242,253) 0px 0px 10px;
     font-size: 50px;
}