@font-face  {
  font-family: 'Hall Fetica';
    src: 
      url(../Z_RESOURCE/fonts/Hall Fetica.ttf),
      url(../Z_RESOURCE/fonts/voez-webfont.woff),
      url(../Z_RESOURCE/fonts/voez-webfont.woff2),
      url(../Z_RESOURCE/fonts/voez-webfont.eot);
}
             
@font-face { 
  font-family: 'Overdose Sunrise';
    src: 
      url(../Z_RESOURCE/fonts/overdosesunrise.ttf),
      url(../Z_RESOURCE/fonts/Overdose Sunrise.otf);
}

@font-face {
  font-family: 'Hall Fetica+';
    src: 
      url(../Z_RESOURCE/fonts/JC-HF+.TTF);
}

@font-face{
  font-family: 'Mario';
    src:
      url(../Z_RESOURCE/fonts/New Super Mario Font U.ttf);
}

body{
	font-family: 'Hall Fetica', 'Hall Fetica+';
  overflow-x: hidden;
}

a{
	color: black;
}


.rhombus{
	-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	text-align: center; 

}

.block{
   height: 87px; 
   width: 200px;
   border-radius: 5px;
}

.content{
  line-height: 85px;
}

.dock{
   position: relative;
   top: 0;
   left: 9.487px;
   height: 40px; 
   border-radius: 5px;
   line-height: 40px;
   float: left;
}


#loading{
          background: black;
          z-index: 9999;
          padding: 10px 10px 5px;
          background: rgb(0, 0, 0);
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          position: fixed;
          text-align: center;
          box-shadow: 2px 2px 10px;
          border-radius: 1px;   
          font-family: 'Mario', 'Hall Fetica', 'Hall Fetica';          
}

#header{
  background-color: rgba(255,255,255,0.3);
  position: absolute;
  top: 0; 
  left: -10%;
  height: 77px;
  width: 111%;
  display: none;
}

#title{
     margin-top: 7px;
     color: rgb(123,241,158);
     text-shadow: rgb(111,242,253) 0px 0px 10px;
     font-size: 50px;
}

#inf{
  position: absolute; 
  right: 1%; 
  top: 0; 
  text-align: right; 
  font-family: 'Hall Fetica'; 
  font-size: 18px 
}

#footer_opener{
  background-color: rgba(255,255,255,0.4);
  position: absolute;
  bottom: 0; 
  right: 0;
  height: 50px;
  width: 50px;
  line-height: 70px;
  z-index: 2;
}

#footer_body{
  background-color: rgba(255,255,255,0.4);
  position: absolute;
  bottom: 0; 
  left: 0%;
  height: 50px;
  width: 100%;
  z-index: 3;
  display: none;
  text-align: left;
  line-height: 50px;
  display: none;
}